

.design-section {
  padding: 40px;
  margin-top: 4%;
  background-color: #f5f5f5;
  background-image: url("../images/Website\ Art\ 4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.style-container{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.design-title-container {
  text-align: center;
  margin-top: 10%;
}

.design-title {
  font-size: 38px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;

}

.design-description {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;

}

.button-container {
  display: flex;
  justify-content: center;
}

.button-link {
  margin: 0 10px;
}

.button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .design-title {
    font-size: 28px;
  }

  .design-description {
    font-size: 16px;
  }
}
.hp_wireframe_container h1{
  color: white;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
  margin-top: -190px;
  
  
  }
  
  .hp_wireframe_container h2{
    color: white;
    text-align: center;
    padding-bottom: 5%;
  
  }
  
  
  .swiper {
    margin-top: 10%;
    width: 100%;
    height: 100%;
    }
  
    .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
  
    .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    *,*::before,*::after {
      box-sizing: border-box;
    }
   /* Style for the button container */
.button-container-bottom {
display: flex;
justify-content: space-between;
align-items: center;
margin: 50px 0;
}

/* Style for the buttons */
.button {
background-color: #000000;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 1.2rem;
font-weight: bold;
text-transform: uppercase;
border-radius: 5px;
cursor: pointer;
}

.button:hover{
background-color: gray;
}

/* Style for the left button */
.button-left-bottom {
margin-right: auto;
}

/* Style for the right button */
.button-right-bottom {
margin-left: auto;
}
