@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');



.home-container {
  position: relative; /* Set the positioning to relative */
  width: 100%; /* Set the width to occupy the entire screen */
  height: 100vh; /* Set the height to occupy the full viewport height */
  overflow: hidden; /* Hide any overflow content */
}

.hero {
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  background-image: url(/src/images/IM\ Front\ Page\ Pic.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.hero h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 10vh;
  text-align: center;
}

.phrases-container {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  padding: 50px;
  cursor: pointer;
}

.title1{
  z-index: 3;
  position: relative;
  margin-left: 25px;
}
.title2{
  z-index: 3;
  position: relative;
  margin-left: 25px;

}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d1e0e0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.prompt {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

@keyframes flying {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: 20%;
    left: 80%;
    transform: translate(0, 0);
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.phrase {
  top: 60px; /* Adjust the top position to leave space for the nav */
  position: absolute;
  font-size: 1.1rem;
  color: white;
  pointer-events: auto;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.intro-title {
  color: #ff0000; 
  z-index: 3;
  position: relative;
  margin-left: 20px;
}

.intro-description {
  color: #ff0000; 
  z-index: 3;
  position: relative;
  margin-left: 2%;
  text-emphasis: bold;

}

.visible {
  opacity: 1;
}

@keyframes movePhrases {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.phrase:nth-child(2n) {
  top: calc(25% + 50px);
}

.phrase:nth-child(3n) {
  top: calc(75% - 50px);
}

.phrase:nth-child(4n) {
  left: calc(25% + 50px);
}

.phrase:nth-child(5n) {
  left: calc(75% - 50px);
}

@keyframes pop-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.phrase {
  animation: pop-in-out 5s infinite;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;

}

@keyframes glitch {
  0% {
    transform: skew(0deg);
    opacity: 1;
  }
  25% {
    transform: skew(10deg);
    opacity: 0.8;
  }
  50% {
    transform: skew(-10deg);
    opacity: 0.6;
  }
  75% {
    transform: skew(5deg);
    opacity: 0.8;
  }
  100% {
    transform: skew(0deg);
    opacity: 1;
  }
}

.glitch {
  position: relative;
  animation: glitch 0.3s infinite;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 100px 70px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0c090b;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.button:hover:before {
  width: 100%;
}

.button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  opacity: 0;
}

.button:hover:after {
  width: 200%;
  height: 200%;
  opacity: 1;
}
@media only screen and (max-width: 1200px) {
  .title-1 {
    font-size: 20px;
  }
  
  .title-2 {
    font-size: 18px;
  }
  
  .intro-title {
    font-size: 25px;
    margin-top: 20%;
  }
  
  .intro-description {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .title-1 {
    font-size: 18px;
  }
  
  .title-2 {
    font-size: 16px;
  }
  
  .intro-title {
    font-size: 14px;
  }
  
  .intro-description {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .title-1 {
    font-size: 16px;
  }
  
  .title-2 {
    font-size: 14px;
  }
  
  .intro-title {
    font-size: 18px;
    margin-top: 30%;

  }
  
  .intro-description {
    font-size: 15px;
  }
}