@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');

* {
 
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero {
  
  width: 100%;
  max-width: 1600px;
  height: 400vh;
  background-image: url(/src/images/IM\ Front\ Page\ Pic.png);
  background-size: cover;
  background-position:center;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  transition: opacity 0.5s ease; /* Add this line for smooth opacity transition */

}



body {
  overflow-y: scroll; /* enable vertical scrolling */
  margin: 0;
  padding: 0;

}




.hero h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 10vh;
  text-align: center;
  
}

.hero{
  margin-top: 30px;
}

.phrases-container {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  padding: 50px;
  cursor: pointer;
}



.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d1e0e0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.prompt {
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;
  }
  
  @keyframes flying {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    50% {
      top: 20%;
      left: 80%;
      transform: translate(0, 0);
    }
    100% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }



/* @font-face {
  font-family: 'Grungy';
  src: url('fonts/grungy-webfont.woff2') format('woff2'),
       url('fonts/grungy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

/* .phrase {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  pointer-events: auto;
  animation: glitch 1s linear infinite;
  text-shadow: 2px 2px 0 #00fff7, -2px -2px 0 #ff00e7;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  transform: translate(-50%, -50%);
} */

/* .phrase {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  pointer-events: auto;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  transform: translate(-50%, -50%);
} */

.phrase {
  position: absolute;
  font-size: 1.1rem;
  color: white;
  pointer-events: auto;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  transform: translate(-50%, -50%);
  white-space: nowrap; /* add this line to prevent line breaks */
  z-index: 1;
  animation-duration: 5s; /* Adjust the duration as desired */
  animation-iteration-count: infinite;
}

.visible {
    opacity: 1;
  }
  

  @keyframes movePhrases {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100%, 100%);
    }
  }
  
  /* Adjust the animation duration and delay as desired */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.phrase:nth-child(2n) {
  top: calc(25% + 50px);
}

.phrase:nth-child(3n) {
  top: calc(75% - 50px);
}

.phrase:nth-child(4n) {
  left: calc(25% + 50px);
}

.phrase:nth-child(5n) {
  left: calc(75% - 50px);
}

@keyframes pop-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.phrase {
  animation: pop-in-out 5s infinite;
}



@keyframes glitch {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  20% {
    transform: translate(-5px, 5px);
    opacity: 0.8;
  }
  40% {
    transform: translate(-5px, -5px);
    opacity: 0.5;
  }
  60% {
    transform: translate(5px, 5px);
    opacity: 0.8;
  }
  80% {
    transform: translate(5px, -5px);
    opacity: 0.5;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }

  
}

.glitch {
  position: relative;
  animation: glitch 0.3s infinite;
}

@keyframes glitch {
  0% {
    transform: skew(0deg);
    opacity: 1;
  }
  25% {
    transform: skew(10deg);
    opacity: 0.8;
  }
  50% {
    transform: skew(-10deg);
    opacity: 0.6;
  }
  75% {
    transform: skew(5deg);
    opacity: 0.8;
  }
  100% {
    transform: skew(0deg);
    opacity: 1;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 100px 70px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0c090b;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.button:hover:before {
  width: 100%;
}

.button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  opacity: 0;
}

.button:hover:after {
  width: 200%;
  height: 200%;
  opacity: 1;
}




footer{
  position: relative;
  width: 100%;
  height: 50%;
  padding: 1px 11px;
  margin-top: 1rem;
  background: #333;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  padding-bottom: -90px;
  left: 0;
  bottom: 0;

}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 1px;
  padding-bottom: 2px;
  left: 0;
  bottom: 0;
}

.footer-container .sec{
  margin-right: 30px;
}

.footer-container .sec.aboutus{
  width: 40%;
}

.footer-container h2{
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}

.footer-container h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgb(77, 228, 255);
}

footer p{
  color: #fff;
}

.sci{
  margin: 20px;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: .5s;
}

.sci li a:hover{
  background: rgb(77, 228, 255);
}

.sci i a .bx{
  color: #fff;
  font-size: 20px;
}

.quicklinks{
  position: relative;
  width: 25%;
}

.quicklinks ul li{
  list-style: none;
}

.quicklinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: .3s;
}

.quicklinks ul li a:hover{
  color: #fff;
}

.footer-container .contactBx{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contactBx .info{
  position: relative;
}

.contactBx .info li{
  display: flex !important;
  margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contactBx .info li span{
  color: #999;
}

.contactBx .info li a{
  color: #999;
  text-decoration: none;
  transition: .5s;
}

.contactBx .info li a:hover{
  color: #fff;
}

@media (max-width: 991px){
  footer{
      padding: 40px;
      font-size: 20px;
  }

  footer .footer-container{
      flex-direction: column;
  }

  footer .footer-container .sec{
      margin-right: 0;
      margin-bottom: 40px;
  }

  footer .footer-container .sec.aboutus{
      width: 100% !important;
  }

  footer .footer-container .quicklinks{
      width: 100%;
  }

  footer .footer-container .contactBx{
      width: 100%;
  }
}



